@media screen and (max-width: 480px) {
  .first-bg {
    height: 450px;
  }
  .f-bg-text-1 {
    font-size: 22px;
    padding-top: 100px;
  }
  .mirror-main-head {
    font-size: 55px;
  }
  .mirror-bts {
    font-size: 18px;
    width: 200px;
    height: 50px;
  }
  .cards-header-text {
    font-size: 30px;
  }
  .cards-parent-box {
    width: 100%;
  }
  .mirror-heading {
    font-size: 28px;
  }
  .mirros-paras {
    font-size: 14px;
  }
  .custom-tabs button {
    font-size: 16px;
  }
  .trend-mirros {
    font-size: 27px;
  }
  .categories-mirros {
    height: 100%;
  }
  .frames-heading {
    font-size: 20px;
  }
  .testimonial {
    width: 95%;
  }
  .clients-names {
    font-size: 25px;
  }
  .client-says {
    font-size: 13px;
  }
  .stars {
    height: 20px !important;
  }
  .footer-end-div {
    font-size: 12px;
  }
  .carousel-radio-buttons {
    top: 110px;
  }

  /* ABOUT US PAGE START HERE  */
  .banner-img {
    height: 260px;
  }
  .banner-img-h1 {
    padding-top: 100px;
    font-size: 18px;
  }
  .banner-img-h2 {
    font-size: 50px;
  }
  .about-us-text {
    font-size: 20px;
    padding-top: 15px;
  }
  .about-us-text-2 {
    font-size: 37px;
    line-height: 30px;
  }
  .abouts-us-para {
    font-size: 13px;
  }

  .mirror-about-img {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 990px) {
  .first-bg {
    height: 460px;
  }
  .f-bg-text-1 {
    font-size: 30px;
    padding-top: 130px;
  }
  .mirror-main-head {
    font-size: 72px;
  }
  .mirror-bts {
    font-size: 20px;
    width: 215px;
    height: 52px;
  }
  .cards-header-text {
    font-size: 35px;
  }
  .mirror-heading {
    font-size: 32px;
  }
  .mirros-paras {
    font-size: 17px;
  }
  .custom-tabs button {
    font-size: 19px;
  }
  .trend-mirros {
    font-size: 32px;
  }
  .categories-mirros {
    height: 100%;
  }
  .frames-heading {
    font-size: 24px;
  }
  .testimonial {
    width: 95%;
  }
  .clients-names {
    font-size: 32px;
  }
  .client-says {
    font-size: 14px;
  }
  .stars {
    height: 20px !important;
  }
  .footer-headers {
    font-size: 28px;
  }

  /* ABOUT US PAGE START HERE  */
  .banner-img {
    height: 360px;
  }
  .banner-img-h1 {
    padding-top: 140px;
    font-size: 24px;
  }
  .banner-img-h2 {
    font-size: 60px;
  }
  .about-us-text {
    font-size: 22px;
    padding-top: 15px;
  }
  .about-us-text-2 {
    font-size: 42px;
    line-height: 30px;
  }
  .abouts-us-para {
    font-size: 15px;
  }

  .mirror-about-img {
    width: 100%;
  }
}
